body
{
    font-family: Arial, Helvetica, sans-serif;
    color:#000;
}
.container
{
    max-width: 600px;    
    margin: 0 auto;
    border: 1px solid #000;   
    justify-content: space-between; /*space between = mas o primeiro elemento 
    fica no flex-start e ultimo fica no flex-end*/
}
.item
{
    margin: 5px;
    padding: 5px;
    background: #447;
    text-align: center;
    font-size: 1em;
    color: #fff;
}
.flexivel
{
    display: flex;    
}
.vertical
{
    flex-direction: column;
}
.flexwrap
{
    flex-wrap: wrap;
}
.flexflow
{
    flex-flow: row-reverse wrap;    
}
.espaçamento
{
    justify-content: space-around;
}