.aside a
{
   position: absolute;
   left: -90px;
   transition: 0.2s;
   padding: 15px;
   width: 100px;
   font-size: 20px;
   color: #fff;
   border-radius: 0 15px 15px 0px;
   text-decoration: none;   
}
.aside a:hover
{
   left: 0px;
}

#canal
{
   top:20px;
   background-color: #800;
}

#cursos
{
   top:80px;
   background-color: #080;
}

#contatos
{
   top:140px;
   background-color: #008;
}