body
{
    margin: 0px;
}
div
{
    border: 1px solid #000;
}
p
{
    border: 1px solid #f00;
    /* para alinhar a centralização p na div*/
    margin: auto;
    /*ALinhar o texto só funciona com text-align*/
    text-align: center;
}
.ex1
{
    margin: auto; /*Só FUNCIONA se TIVER o WIDTH CONFIGURADO do elemento*/
    width: 300px;
    height: 300px;
    margin-bottom: 20px;

}
.ex1 p
{
    width: 200px;
}
.ex2
{    
    width: 200px;
    height: 200px;
}
/* propriedades separadas abaixo*/ 
.ex3
{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 30px;
    margin-bottom: 5px;
}