.cssTela {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: right;
    align-items: flex-start;
    background-color: #444;
    width: 260px;    
}

.cssOperacao {
    font-size: 25px;
    color: #fff;
    
    height:20px;   
}

.cssResultado {
    font-size: 50px;
    color: #fff;
    
}