body
{
    margin: 0px;
    padding: 0px;
}
div
{
    float: left;
    margin: 0px;
    padding: 0px;
    width: 150px;
    height:200px;
    background-color: #ddd;
    
}
.d1
{
    
    outline-color: #f00 ;
    outline-style: solid;
    outline-width: 1px;
}
.d2
{    
    outline: 1px solid #0ff;
    
}
.d3
{
    outline: 1px solid #f00;
    outline-offset: 10px;
}
.d4
{
    outline: 1px solid #f00;
    outline-offset: -10px;
}